@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  background-color: #f5f5f5;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.candy-mesh {
  background-color: #ff99ee;
  background-image: radial-gradient(
      at 99% 6%,
      rgb(113, 150, 229) 0px,
      transparent 50%
    ),
    radial-gradient(at 55% 88%, hsla(189, 50%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 27%, hsla(271, 78%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 89% 89%, hsla(317, 89%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 44%, hsla(337, 92%, 61%, 1) 0px, transparent 50%);
}

.yo-mesh {
  /* background-image: linear-gradient(
    to bottom,
    #220c59,
    #2e146d,
    #40227e,
    #53318d,
    #693f9a,
    #7a4ca3,
    #8c58ab,
    #a164b0,
    #ba70b4,
    #d57bbe,
    #ef86c7,
    #ff9bce
  );
  background-size: cover;
  background-repeat: no-repeat; */

  background-color: #d8c5eb;
  background-image: radial-gradient(at 99% 6%, #693f9a 0px, transparent 50%),
    radial-gradient(at 55% 88%, hsla(271, 78%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 27%, hsla(271, 78%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 89% 89%, hsla(317, 89%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 44%, hsla(337, 92%, 61%, 1) 0px, transparent 50%);
}

.glass {
  backdrop-filter: saturate(150%);
  background-color: rgba(255, 255, 255, 0.13);
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
